numpy
tensorflow
keras
h5py
scipy
pandas
scikit-learn
scikit-image
matplotlib
bokeh
beautifulsoup4
Flask
glob2
html5lib
imageio
Pillow
six
ipython-genutils
ipywidgets
jupyter
jupyterlab
jupyterhub
jupyterlab_widgets
gensim
theano
ipykernel
